body {
    background-color: pink;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color : #fe424d;
    font-size: 2rem; /* Adjusted for better navbar fit */
}

.nav-link {
    color: black; /* Dark grey */
}
.nav-link:hover {
    color: #555555; /* Slightly lighter on hover */
}
